body{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid gray;
    margin: auto;
}
.grid div{
    width: 20px;
    height: 20px;
}
h1{
    text-align: center;
}
.start{
    padding: 1rem;
    border-radius: 2rem;
    background: #f5deb3;
}
code{
    color: #800000;
}
.snakyBody{
    animation-name: snakyAnime;
    animation-duration: 0.75s;
}

.snake{
    background-color: blue;
}
.food{
    background-color: red;
}
.End-Modal{
    position: fixed;
    top: 1rem;
    bottom: 7rem;
    right: 0;
    left: 0;
    background: #808080;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.End-Modal{
    width: 50%;
    height: 20%;
    margin: auto;
    border-radius: 1rem;
}
#closeIcon{
	position: absolute;
	top: 7px;
	right: 30px;
}
.modal2{
   background-color: wheat;
   border-radius: 1rem;
   padding: 1rem;
   text-align: center;
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
}
.End-Modal p{
    cursor: pointer;

}
@keyframes snakyAnime {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}